Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3 Create a Pandas DataFrame that contains the following data:

Name : Alice,Bob,Claire
Age :25,30,27
Gender:Female,Male,Female

Then, print the DataFrame.

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],         # nice use of dictionary to create df
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns, where each column can have a different data type. It is a primary data structure used in Pandas to manipulate and analyze data.

On the other hand, a Series is a one-dimensional array-like object that can store a variety of data types, such as integer, float, and string. It is similar to a column in a DataFrame, but a DataFrame can contain multiple columns and provide additional functionalities such as indexing and merging of multiple columns.

Here's an example that illustrates the difference between a DataFrame and a Series:

In [10]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)

print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [11]:
df = pd.DataFrame(data)

# Using head() to view the first few rows
print(df.head())

# Using tail() to view the last few rows
print(df.tail())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q6 Which of the following is mutable in nature Series, DataFrame, Panel?

Answer : All